<h2>New User</h2>

<%= form_for @user do |f| %>
 
  <%#= f.error_notification %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name , :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Create New User" %></div>
<% end %>